[submodule "qr-code-component"]
	path = qr-code-component
	url = https://github.com/Cxx-mlr/qr-code-component.git
[submodule "blog-preview-card"]
	path = blog-preview-card
	url = https://github.com/Cxx-mlr/blog-preview-card.git
[submodule "social-links-profile"]
	path = social-links-profile
	url = https://github.com/Cxx-mlr/social-links-profile.git
[submodule "recipe-page"]
	path = recipe-page
	url = https://github.com/Cxx-mlr/recipe-page.git
